<!DOCTYPE html> <!--This is the home page-->
<html lang="en">
<head>
    <% include partials/head%>
</head>

<body class="container-fluid">

<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>TIT-4-TAT
      </a>

    </div>

    <a class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
      <button type="button" class="btn btn-default" name=" home"><a href = '/'>HOME</button></a>
    <button type="button" class="btn btn-default" name="login"><a href ='/login'>LOGIN</button></a>
  </div>


  </div>


  <main>
    <div class="jumbotron">
      <h1>WELCOME TO TIT-4-TAT </h1>
    </div>

    <div class="questions">

      <h2>Are you having a hard time keeping up with those
        you meet at networking events like conferences and Meet-Ups? </h2>

      <h2> Are you having any trouble keeping those contacts in order?</h2>

      <h2> If you have answered yes to either of the questions above then consider
        using the app TIT-4-TAT!</h2>


    </div>
    <p><a class="ui orange button" href="#" role="button">Learn more</a></p>
    <p><a class="ui orange button" href="/signup" role="button">Sign Up</a></p>



  </main>



  <footer>
      <% include partials/footer%>
  </footer>


</body>
</html>
