<!DOCTYPE html> <!--This is the signup page-->
<html lang="en">
<head>
    <% include partials/head%>
</head>

<body class="container-fluid">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">
                <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>TIT-4-TAT
            </a>

        </div>

        <a class="btn-group btn-group-lg pull-right" role="group" aria-label="...">
            <button type="button" class="btn btn-default" name=" home"><a href = '/'>HOME</button></a>
        <button type="button" class="btn btn-default" name="signup"><a href ='/signup'>SIGNUP</button></a>
    </div>


    </div>



    <main>



        <h2 class="loginH">LOGIN</h2>



        <form method="POST" action="/login" id="login" class="ui raised segment">

            <br>
            <br>

            <div class="form-group ui fluid left icon input">

                <label for="email" class="email"></label>
                <input class="form-control" type="text" name="username" id="email" placeholder="E-mail address">
                <i class="user icon"></i>

            </div>

            <br>

            <div class="form-group ui fluid left icon input">
                <label for="email"> </label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">  <!--HIDES THE PASSWORD-->
                <i class="lock icon"></i>

            </div>

            <br>

            <div class="loginH">

                <input class= "ui orange button" type="submit">

        </form>

    </main>

    <footer>
        <% include partials/footer%>
    </footer>


</body>
</html>