<!DOCTYPE html> <!--This is the signup page-->
<html lang="en">
<head>
    <% include partials/head%>
</head>

<body class="container-fluid">

<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><h2>TIT-4-TAT</h2></a>

        </div>
    </div>

    <main>

        <form method="POST" action="/login" id="login" class="ui raised segment">
            <h2 class="loginH">PLEASE LOG-IN TO YOUR ACCOUNT</h2>

            <br>
            <br>

            <div class="form-group ui fluid left icon input">

                <label for="email" class="email"></label>
                <input class="form-control" type="email" name="username" id="email" placeholder="Email">
                <i class="user icon"></i>

            </div>

            <br>

            <div class="form-group ui fluid left icon input">
                <label for="email"> </label>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password">  <!--HIDES THE PASSWORD-->
                <i class="lock icon"></i>

            </div>

            <br>

            <div class="loginH">

                <button class= "ui orange button fluid ui button" type="submit"> LOGIN</button>
                <p> Would you like to <a href="/signup">sign-up</a> instead?</p>

        </form>

    </main>

    <footer>
        <% include partials/footer%>
    </footer>


</body>
</html>