<!DOCTYPE html> <!--This is the signup page-->
<html lang="en">
<head>
    <% include partials/head%>
</head>

<body class="container-fluid">
<nav class="navbar navbar-default" role="navigation">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/"><h2>TIT-4-TAT</h2></a>

        </div>
    </div>
    <main>
            <h2 class="font">Signup</h2>
            <h3 class="font"> All we need from you in order to signup is a valid email address or user name and a password of your choice.</h3>

            <form method="POST" action="/signup" class="ui raised segment" id="signup">

                <br>
                <br>

                <div class="form-group ui fluid left icon input">

                    <label for="email" class="email"></label>
                    <input class="form-control" type="email" name="username" id="email" placeholder="Email">
                    <i class="user icon"></i>

                </div>

                <br>

                <div class="form-group ui fluid left icon input">
                    <label for="email"> </label>
                    <input class="form-control" type="password" name="password" id="password" placeholder="Password">  <!--HIDES THE PASSWORD-->
                    <i class="lock icon"></i>

                </div>

                <div class="loginH">

                    <button class= "ui orange button fluid ui button" type="submit"> SIGNUP</button>
                    <p> Would you like to <a href="/login">login</a> instead?</p>
                </div>

            </form>

    </main>

    <footer>
        <% include partials/footer%>
    </footer>


</body>
</html>