@media screen and (min-width: 400px)

body {
  padding: 50px;
  /*font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;*/
}

a {
  color: #00B7FF;
}
h1 {
  background: #E58A12;
  font-family: 'Fontdiner Swanky', cursive;
}
.top {
  background: orangered;
}

.topNav {
  background: #ff9714;
}
.contact {
  font-size: 1.5em;
  font-family: 'Barrio', cursive;
  text-align: center;

}

.my{
  font-family: 'Barrio', cursive;
  text-align: center;
}

#contactbut{
  text-align: center;
  margin: auto;
}

#login{
  background: #ff9714;
  margin: 8em;
  width: 430px;
  margin-left: auto;
  margin-right: auto;
}
#signup{
  background: #ff9714;
  margin: 8em;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.signupP{
  text-align: center;
}

.buttonL{
  text-align: center;
  margin: auto;
}

.loginH{
  text-align: center;
  margin: auto;
}

.login1{
  text-align: center;
  font-family: 'Barrio', cursive;
}

.container-fluid{
  padding-top:
}

#indexB{
  text-align: center;
}

.questions{
  font-family: 'Ultra', serif;
  text-align: center;
  font-family: 'Barrio', cursive;

}
.jumbotron{
  text-align: center;
  font-family: 'Barrio', cursive;

}
.wrapper{
  width:100%;
  z-index: 0;
}

.navbar-brand{
  font-family: 'Barrio', cursive;
}
.font{
  font-family: 'Barrio', cursive;
  text-align: center;
}

#editB{
  text-align: center;
  margin: auto;
}

#delete{
  text-align: center;
  margin: auto;
}